<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Jarvis</vendor>
  <action id="com.hawkeynl.jarvis.devices">
    <description>Manage Jarvis trusted devices on this Home Node</description>
    <message>Enter the computer administrator password to change Jarvis device access.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/jarvis</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">devices</annotate>
  </action>
</policyconfig>
